<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179049673161-i2apdfqjnq127eo9tglpdb8vrvtug86p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179049673161-i2apdfqjnq127eo9tglpdb8vrvtug86p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>179049673161-pu3etga7krf3vd8dctf0g0ghp15j38un.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBC8xgx1AaigUsXgiOdyZYKn7N1cKbc_xI</string>
	<key>GCM_SENDER_ID</key>
	<string>179049673161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitMoviesApp</string>
	<key>PROJECT_ID</key>
	<string>fit-movies-flutter-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fit-movies-flutter-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179049673161:ios:cd226fb986f6211389b818</string>
</dict>
</plist>